*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  display: block;
  width: 100%;
  height: auto;
}

/************* container***********/
.section1{
  padding: 2rem;
  
}
/*****************************************/
.btn_insert{
  background: #0096d2;
  border-color: #0096d2;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
.btn_insert:hover{
  cursor: pointer;
  background: #3b83bd;
  border-color: #3b83bd;
}
input[type=text]{
  /* width: 100%; */
  padding: 5px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}
/******************************************/
.section2{
  background: #DFE0E0;
  padding: 2rem;
}
.txt_title{
  text-align: center;
  color: #007BDF;
}
.card_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.card{
  background: #FAFDFF;
  width: 100%;
  max-width: 340px;
  margin: 1rem 0;
  border-radius: 10px;
}
.card-img{
  overflow:hidden;
  position:relative;
}
.card-img:hover:after{
  opacity:1;
  transform:scale(1)
}
.card-img img{
transition:all 0.4s
}
.card-img:hover img{
transform:scale(1.1)
}
.card-content{
  padding: 10px;
}
